<div class="card" style="background-color:@(BackgroundColor); color: @(TextColor)">

    <div class="card-body">
        <h5 class="card-title">
            @Customer.FirstName @Customer.LastName
        </h5>
        <p class="card-text">
            @Customer.Address
        </p>
    </div>


</div>

@code {
    [Parameter]
    [EditorRequired]
    public CustomerViewModel Customer { get; set; } = new();

    [Parameter]
    public string BackgroundColor { get; set; } = "var(--bs-white)";

    [Parameter]
    public string TextColor { get; set; } = "var(--bs-black)";
}
