<div class="card">
    <div @onclick="@(() => AddToCart(MenuItem.Id))"
         class="menu-item-card card-body"
         style="
            --bg-color: @BackgroundColor;
            --text-color: @TextColor;
    ">
        <div class="card-title">
            <h5>@MenuItem.Name</h5>
        </div>
        <div class="card-text">
            <p>
                Price: @MenuItem.FormattedPrice
            </p>
        </div>
    </div>
</div>

@code {

    [Parameter]
    [EditorRequired]
    public MenuItemViewModel MenuItem { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public OrderViewModel Order { get; set; } = default!;

    [Parameter]
    public string BackgroundColor { get; set; } = "white";

    [Parameter]
    public string TextColor { get; set; } = "black";

    protected void AddToCart(int menuItemId)
    {
        Order.OrderItems.Add(new OrderItemViewModel
        {
            MenuItemId = menuItemId,
            Quantity = 1
        });
    }
}