@inject IJSRuntime js

<div class="card">
    <div class="menu-item-card card-body"
         style="
            --bg-color: @BackgroundColor;
            --text-color: @TextColor;
            "
         @onclick="@(() => AddToCart(MenuItem.Id))"
    >
        <div class="card-title">
            <h5>@MenuItem.Name</h5>
        </div>
        <div class="card-text">
            <p>
                Price: @MenuItem.FormattedPrice
            </p>
        </div>
    </div>
</div>

@code {

    [Parameter]
    [EditorRequired]
    public MenuItemViewModel MenuItem { get; set; } = default!;

    [Parameter]
    public string BackgroundColor { get; set; } = "white";

    [Parameter]
    public string TextColor { get; set; } = "black";

    protected async void AddToCart(int productId)
    {
        await js.InvokeVoidAsync("alert", $"The product id of the product clicked was {productId}");
    }
}