@inject HttpClient Http;
@inject NavigationManager NavManager;

@using BagelzClassLibrary.Entities;
@using Microsoft.AspNetCore.Components.Forms

<div class="card receipt-card">
    <div 
         class="card-body"
         style="
            --bg-color: @BackgroundColor;
            --text-color: @TextColor;
            border: 1px solid @BorderColor;
            border-radius: 4px;
    ">
        <div class="card-title">
            <h5>Receipt</h5>
        </div>
 
        <div class="card-text">
            <table>
                <tr>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Price</th>
                </tr>
                
                @foreach (var orderItem in Order.OrderItems ?? new())
                {
                    <tr>
                        <td>@orderItem?.MenuItem?.Name</td>
                        <td>@orderItem.Quantity</td>
                        <td>@orderItem?.MenuItem?.FormattedPrice</td>
                    </tr>
                }
                
            </table>
            
            <div class="total">
                <p>Total: @Order.FormattedTotal</p>
            </div>
            
        </div>
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public OrderViewModel Order { get; set; } = new OrderViewModel();

    [Parameter]
    public string BackgroundColor { get; set; } = "white";

    [Parameter]
    public string TextColor { get; set; } = "black";

    [Parameter]
    public string BorderColor { get; set; } = "#989898";


    private async void HandleValidSubmit()
    {
        await Http.PostAsJsonAsync<OrderViewModel>("api/orders", Order);
        // Redirect to list
        NavManager.NavigateTo("/orders");
    }
}