@page "/"
@page "/Index"

@inject HttpClient http

<h1>Choose Customer</h1>
<form>
    <div>
        <label class="control-label">Customer:</label>
        <select class="form-control" @bind="CustomerId">
            <option value="">Select A Customer...</option>
            @foreach (var customer in Customers ?? new())
            {
                <option value="@customer.Id">@customer.FullName</option>
            }
        </select>
        <span asp-validation-for="CustomerId" class="text-danger"></span>
    </div>
    <div class="form-group m-2">
        <a class="btn btn-primary"
           href="/AdoptionSale/@CustomerId"
        @onclick="SetAllowNavigate"
        @onclick:preventDefault="AllowNavigate">Go</a>
    </div>
</form>


@code {

    public string? CustomerId { get; set; }

    public bool AllowNavigate { get; set; } = true;

    public List<CustomerViewModel>? Customers { get; set; } = new List<CustomerViewModel>();

    private void SetAllowNavigate()
    {
        AllowNavigate = string.IsNullOrWhiteSpace(CustomerId);
    }

    protected override async Task OnInitializedAsync()
    {

        Customers = await http.GetFromJsonAsync<List<CustomerViewModel>>("api/Customers");
        await base.OnInitializedAsync();
    }

}