@page "/"
@page "/Index"

@inject HttpClient http

<h1>Choose Customer</h1>
<form>
    <div>
        <label class="control-label">Customer:</label>
        <select class="form-control" @bind="CustomerId">
            <option value="">Select A Customer...</option>
            @foreach (var customer in Customers)
            {
                <option value="@customer.Id">@customer.FullName</option>
            }
        </select>
        <span asp-validation-for="CustomerId" class="text-danger"></span>
    </div>
    <div class="form-group m-2">
           <NavLink 
               class="btn btn-primary"
               Href="@{$"/sale/{CustomerId}"}"
               @onclick:preventDefault="DisallowNavigation"
           >Go</NavLink>
    </div>
</form>


@code {

    public string? CustomerId { get; set; }

    public List<CustomerViewModel> Customers { get; set; } = new();

    public bool DisallowNavigation
    {
        get => string.IsNullOrEmpty(CustomerId);
    }

    protected override async Task OnInitializedAsync()
    {
        Customers = await http.GetFromJsonAsync<List<CustomerViewModel>>("api/customers") ?? new();
        await base.OnInitializedAsync();
    }

}