@page "/MenuItems"

@inject HttpClient http

<h3>Menu Items</h3>

<table class="full-width-table" style="white-space: nowrap !important;">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th style="width: 100%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var menuItem in MenuItemList ?? new())
        {
            
            <tr>
                <td>
                    @menuItem.ItemId
                </td>
                <td style="text-align: left;">
                    @menuItem.Name
                </td>
                <td>
                    @menuItem.Description
                </td>
                <td style="text-align: right;">
                    $@menuItem.Price
                </td>
                <td>
                    <a href="@($"MenuItemDetails/{menuItem.ItemId}")">Details</a>
                </td>
            </tr>
            
        }
        
    </tbody>
    *@

</table>

@code {
    public List<MenuItemViewModel>? MenuItemList { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {

        MenuItemList = await http.GetFromJsonAsync<List<MenuItemViewModel>>("api/MenuItem");
        await base.OnInitializedAsync();
    }

    private async void DeleteAnimal(int MenuItemId)
    {
        var result = await http.DeleteAsync($"api/MenuItem/{MenuItemId}");
        MenuItemList = await http.GetFromJsonAsync<List<MenuItemViewModel>>("api/MenuItem");
        StateHasChanged();
    }
}