@page "/MenuItems"

@*
@using BlazorModels;
*@

@inject HttpClient http

<h3>Menu Items</h3>


<table class="full-width-table" style="white-space: nowrap !important;">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th style="width: 100%;"></th>
        </tr>
    </thead>
    @*
    <tbody>
        @foreach (var animal in AnimalList)
        {
            
            <tr>
                <td>
                    @animal.AnimalId
                </td>
                <td style="text-align: left;">
                    @animal.FullName
                </td>
                <td>
                    @animal.Species
                </td>
                <td style="text-align: right;">
                    $@animal.Price
                </td>
                <td>
                    <a href="@($"AnimalDetails/{animal.AnimalId}")">Details</a>
                </td>
            </tr>
            
        }
        
    </tbody>
    *@

</table>

@*
@code {
    public List<AnimalViewModel>? AnimalList { get; set; } = new List<AnimalViewModel>();

    protected override async Task OnInitializedAsync()
    {

        AnimalList = await http.GetFromJsonAsync<List<AnimalViewModel>>("api/Animals");
        await base.OnInitializedAsync();
    }

    private async void DeleteAnimal(int AnimalId)
    {
        var result = await http.DeleteAsync($"api/animals/{AnimalId}");
        AnimalList = await http.GetFromJsonAsync<List<AnimalViewModel>>("api/Animals");
        StateHasChanged();
    }
}
*@