@inherits LayoutComponentBase

<header>
    <NavLink class="btn btn-primary m-1" href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink class="btn btn-primary m-1" href="customers">Customers</NavLink>
    <NavLink class="btn btn-primary m-1" href="menuitems">Menu Items</NavLink>
    <NavLink class="btn btn-primary m-1" href="orders">Orders</NavLink>
</header>

<main>
    @Body
</main>
