@page "/menuitems/create"

@inject HttpClient Http
@inject NavigationManager NavManager

@using Microsoft.AspNetCore.Components.Forms

<h3>Create Menu Item</h3>
<hr />

<div class="container">
    <div class="row">
        <EditForm Model="MenuItem" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-floating my-2">
                <InputText @bind-Value="MenuItem.Name" class="form-control" id="Name" placeholder="Name" />
                <label for="Name">Name</label>
            </div>

            <div class="form-floating my-2">
                <InputNumber @bind-Value="MenuItem.Price" class="form-control" id="Price" placeholder="Price" />
                <label for="Price">Price</label>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </EditForm>
    </div>
    <div class="row">
        <div class="my-1">
            <NavLink Href="/menuitems">Back to Menu Items</NavLink>
        </div>
    </div>
</div>

@code {
    public MenuItemViewModel MenuItem { get; set; } = new MenuItemViewModel();

    private async void HandleValidSubmit()
    {
        await Http.PostAsJsonAsync<MenuItemViewModel>("api/menuitems", MenuItem);
        // Redirect to list
        NavManager.NavigateTo("/menuitems");
    }
}
