@page "/menuitems/details/{MenuItemId:int}"

@inject HttpClient Http;

<h3>Menu Item Details</h3>

@if (MenuItemId < 1)
{
    <p>Invalid menu item id.</p>
    <NavLink Href="/menuitems">Back to list</NavLink>
    return;
}

@if (MenuItem is null)
{
    <p>Loading menu item details...</p>
    return;
}

<main class="p-2">
    <div>
        <h4>Menu Item</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                @MenuItem.Name
            </dd>
            <dt class="col-sm-2">
                Price
            </dt>
            <dd class="col-sm-10">
                @MenuItem.Price.ToString("C")
            </dd>
        </dl>
    </div>
    <div>
        <NavLink Href="@($"/menuitems/edit/{MenuItemId}")">Edit</NavLink>
        <NavLink Href="/menuitems">Back to list</NavLink>
    </div>
</main>

@code {

    [Parameter]
    public int MenuItemId { get; set; }

    public MenuItemViewModel? MenuItem { get; set; }

    protected override async Task OnInitializedAsync()
    {
        MenuItem = await Http.GetFromJsonAsync<MenuItemViewModel>($"api/menuitems/{MenuItemId}");
    }
}
